In [81]:
x = "string divide the sentence to list"
z = 1000102267

s = 1000
t = 100
s == t

False

In [79]:
# target is vi
# t = "the"
if x[14:17] == "the":
    print("present")
x[:17]

present

'string divide the'

In [86]:
t = "id"
if t in x:
    print("ok")

ok

In [65]:
# string to index 

print(x.index("the"))
print(x.index("to"))

t = "div"
i = x.index(t)
print(f"range {i}:{i+len(t)}")

14
27
range 7:10

In [74]:
c = "the"
find_range(x,c)

range 14:17

In [30]:
def find_range(x,t):
    i = x.index(t)
    print(f"range {i}:{i+len(t)}")

In [54]:
#--- find all i in the string value


t = "i"
idx = 0
for itm in x:
    if itm == t:
        print(itm)
        print(idx)
    idx= idx+1
    idx

i
3
i
8
i
10
i
31

In [56]:
def index_of_str(x,t):
    idx = 0
    for itm in x:
        if itm == t:
            print(itm)
            print(idx)
        idx= idx+1
        idx
    
index_of_str(x, "d")

d
7
d
11

In [23]:
# length of the variable
print(len(x))
t = str(z)
t

34

'1000'

In [8]:
# length of the variable which is not string
len(str(z))

4

In [20]:
# access string value by index
x[1]
# access string value by multiple range index
x[5:8]
# access string value by different-different index
print(x[:2],x[5:])

Ne ork

In [33]:
# string - divide the sentence to list
x = "string divide the sentence to list"
nw = x.split()
print(nw[1],nw[4])
print(nw[1:4])
print(nw[2:])

divide to
['divide', 'the', 'sentence']
['the', 'sentence', 'to', 'list']

In [91]:
# string - use split method
a = "hambira.tudu"
g = "puja@gmail.com#!"
d = "puja#3354"
info = " Puja 3354 26 BLR"
print(x.split("vi"))
print(a.split("."))
print(g.split("@"))
print(d.split("#"))

# split and store info
ifm = info.split()
fn = ifm[0]
fn

['string di', 'de to the sentence to list']
['hambira', 'tudu']
['puja', 'gmail.com#!']
['puja', '3354']

'Puja'

In [56]:
# string - use strip method - rstrip & lstrip

str(z).strip()
ff = " Puja "
print(len(ff))
print(ff.strip())
print(ff.rstrip())
print(ff.lstrip())

6
Puja
 Puja
Puja

In [90]:
# string - convert to uppper or lower or title case

rr = "PuJA is best girl"
rr.lower()
rr.upper()
rr.title()
tmp = rr.lower()

# replace the string
tmp.replace("best","BEST")
print(rr.split()[2],a.split(".")[1])
g.replace("!#", " ")

best tudu

'puja@gmail.com'

In [77]:
# string concat

print(a + " " + rr + " ")
print(str(z)+ " "+ rr)

hambira.tudu PuJA is best girl
1000 PuJA is best girl

In [85]:
#  string formating
print(f"S no-{z} {rr.split()[0]} {g}")
print("S no - {} | {} | email - {}".format(z,rr,g))

S no-1000 PuJA puja@gmail.com
S no - 1000 | PuJA is best girl | email - puja@gmail.com

In [89]:
# string rjust
tt = "65"
rt = tt.rjust(5,'0')
rn = f"MLX_HTSP_{rt}"
rn

'MLX_HTSP_00065'

In [59]:
# starts with
xx = "Allu"
xx.startswith("Pu")

True

False